body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  .container {
    width: 500px;
    height: 300px;
    margin: 100px auto;
    background-color: #fff;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  button {
    padding: 10px 20px;
    font-size: 18px;
    background-color: #e23c44;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
  }
  button:hover {
    background-color: #bd2f42;
  }
  #intro-text {
    margin-top: 20px;
    font-size: 24px;
    font-weight: bold;
    color: #333;
  }